<footer class="bg-danger text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0" style="color: white;">
          <li>
            <p>Giới thiệu </p>
          </li>
          <li>
            <p>Chính sách bảo mật</p>
          </li>
          <li>
            <p>Chính sách vận chuyển</p>
          </li>
          <li>
            <p>Hình thức thanh toán</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


        <ul class="list-unstyled" style="color: white">
          <li>
            <p>Quy đổi trả và hủy đơn hàng</p>
          </li>
          <li>
            <p>Hướng dẫn đặt hàng</p>
          </li>
          <li>
            <p>Liên hệ</p>
          </li>
          <li>
            <p>Thông báo</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">HungNP</a>
  </div>
  <!-- Copyright -->
</footer>
